.tooling/
.wrangler/
**/node_modules/
**/.dart_tool/
**/build/
**/__pycache__/
*.pyc
artifacts/
**/*.apk
flutter_app/.dart_tool/
flutter_app/build/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
